Phoenix/config.py
Phoenix/*.session
Phoenix/*.session-journal
Phoenix/config.ini
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Phoenix/modules/helper_funcs/temp.txt
Phoenix/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
phoenix.session-journal
Phoenix/elevated_users.json
*.exe
*.png
env/
*.session-journal
config.ini
*.session-journal
log.txt
shell_output.txt
.vs
